########################
# Compiled class files
########################
*.class
*.o
*.obj
*.exe

########################
# Maven
########################
/log/
/target/

########################
# Log files
########################
*.log

########################
# Package Files
########################
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.db

########################
# Windows specific
########################
Thumbs.db
Desktop.ini


